@model Book


<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="card mr-0 mb-4" style="width: 15rem; background-color:white; ">
    <img src="~/images/@Model.ImageUrl" alt="@Model.Title" class="card-img-top mx-auto mt-4" style=" width:10rem; height:16rem;">
    <div class="card-body ml-1 pb-1">

        <p class="card-title" style="font-weight:400; font-size:medium;">
            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Title</a>
        </p>
        <p class="card-subtitle"  style="font-weight:300; font-size:small;">@Model.Author</p>
        <p class="card-text mt-3" style="font-weight:300; color:darkorange;font-size:larger;">@Model.Price.ToString("c")</p>
    
    <div class="addToCart text-center">
        <p class="button">
            <a class="btn btn-primary"  style="background-color:orange; border:0;width:12rem;"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-bookId="@Model.BookId">Add to cart</a>
        </p>
    </div>
    </div>
    </div>
    </div>


