@model Book

    <img class="mt-4" alt="@Model.Title" src="~/images/@Model.ImageUrl" style=" width:15rem;" />
    <div class="caption-full mt-3">
        <h3>
            <a href="#">@Model.Title</a>
        </h3>
        <p style="font-weight:300; font-size:medium;">@Model.Author</p>
     
        <p style="font-weight:400; width:40rem; ">@Model.Description</p>
        <p class="pull-right" style="font-weight:300; color:#ff8c00;font-size:larger;">@Model.Price.ToString("c")</p>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" style="background-color:orange; border:0;width:12rem;"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-bookId="@Model.BookId">Add to cart</a>
            </p>
        </div>

    </div>